@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.HomePageButton{
    background: #922C89;
    margin-bottom: 40px;
    justify-content: center;
    border-radius: 999px;
    box-shadow: rebeccapurple 0 10px 20px -10px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    width: 300%;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 18px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 0;
}

