.AdminName {
    position: absolute;
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}