.second_background{
    width:95%;
    height: 90%;
    border-radius: 130px;
    /*margin: 40px 80px;*/
    /*display: grid;*/

    background: rgb(244,244,244);
    background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(237,241,252,1) 100%);
}